---
import SkillItem from '@components/elements/SkillItem.astro';
import WorkIcon from '@components/icons/WorkIcon.astro';

const {experience, t} = Astro.props;
const data = experience.data;

const justify_ul = (data.name !== 'aboundfire')? 'justify-between': 'justify-start';
const gap_ul = (data.name !== 'si2')? 'gap-x-2': 'gap-x-1';
---

<li class="flex flex-row justify-center items-center w-full group">
    <div class="work-border border-l-2 border-primary dark:border-accent pb-10 w-full group-last:pb-0">
        <div class="relative">
            <WorkIcon class="absolute -left-[22px] md:-left-[26px] -top-0 md:-top-3 lg:top-0 xl:-top-3 size-10 md:size-12 p-2 bg-white dark:bg-neutral-700 dark:fill-white border-2 border-primary dark:border-accent rounded-full cursor-pointer group-last:-left-[22px];"/>
        </div>
        <header class="flex flex-col sm:flex-row justify-between items-start sm:items-center xl:items-start pl-8 md:pl-10 mb-2 gap-2 sm:gap-0 ">
            <div class="flex flex-col xl:flex-row justify-start items-start xl:items-center xl:gap-1 sm:grow">
                <h1 class="font-extrabold text-lg sm:text-xl lg:text-2xl">{data.company}</h1>
                <span class="text-neutral-400 dark:text-neutral-300 hidden xl:inline">-</span>
                <h2 class="uppercase tracking-wide text-sm lg:text-lg xl:text-2xl font-semibold text-neutral-400 dark:text-neutral-300">{data.job}</h2>
            </div>
            <div class="flex flex-row sm:flex-col justify-between sm:justify-end items-center sm:items-end w-full sm:w-max">
                <time class="text-neutral-400 dark:text-neutral-300 font-light text-sm md:text-md">{data.date}</time>
                <time class="text-neutral-400 dark:text-neutral-300 uppercase font-light text-xs md:text-sm">{data.time}</time>
            </div>
        </header>

        <article class="border border-neutral-200 border-l-0 rounded-r-md py-5 px-6 md:px-10 bg-neutral-50 dark:border-neutral-600 dark:bg-neutral-700 group-first:rounded-tr-4xl group-last:rounded-br-4xl">
            <ul class="pt-2 list-disc ml-5">
                {data.description.map(description => (
                    <li class="text-neutral-500 dark:text-white leading-8 tracking-wide font-light text-sm md:text-md xl:text-[1rem] xl:text-neutral-400">{description}</li>
                ))}
            </ul>
            <ul class={"flex flex-row pt-4 flex-wrap " + justify_ul + " " + gap_ul}>
                {data.skills.map(skill => (
                    <SkillItem skill={skill} t={t} mode="horizontal"/>
                ))}
            </ul>
        </article>
    </div>
</li>
